/*  header  */

header{
    height: 100px;
    background-color: green;
}



/*  div .one  */
.day8 h1{
    text-align:left;
    padding-top: 30px;
    margin:0px;
    padding-left:20px;
    font-family: 'Pacifico', cursive;
}

.day8 {
    font-family: 'Pacifico', cursive;
}

.one{
    height: 300px;
    width: 100%;
    background: url("../img/gxy.jpg")center;
    background-attachment: fixed;
    background-size: cover;
}

.four{
    height: 400px;
    width: 100%;
    background-color: green;
    padding: 40px 0px;
}

.sub-four{
    height: 100%;
    width: 900px;
    background-color: green;
    margin: 0px auto;
}    

.sub-boxes{
    height: 420px;
    width: 250px;
    background-color: #00F010;
    float: left;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}

.sub-boxes h1{
     text-align: center;
     border-radius: 25px;
     font-family: 'Pacifico', cursive;

}

.sub-boxes p{
    text-align: center;
    padding:0px 10px 10px 10px;
    font-family: 'Pacifico', cursive;

}

.five {
    height: 100%;
    width: 100%;
    background-color: #00F010;
    font-family: 'Pacifico', cursive;

}

.box7{
    height: 500px;
    width: 100%;
    background:url("../img/txiong.jpg")center;
    background-attachment: fixed;
    background-size: cover;
    clear:both;
}

.box7 h1{
    color: red ;
    text-align: center;
    padding: 40px 0px;
    margin:0px;
    font-family: 'Pacifico', cursive;

}    

#form{
    height: 300px;
    width: 300px;
    margin:0px auto;    
}

input{
    width:300px;    
    height:25px;
}

textarea{
    width:300px;
    height:100px;
    margin-bottom:15px;
}

ul {
    list-style-type:none;
    float: right; 
    padding-right: 50px;
}

.day8 li{
    float: left; 
    padding: 10px; 
}

a {
  text-decoration: none;
  color: inherit;
}

img{
 width: 200px;
 height: 200px;
 border-radius: 50%;
}

.img{
    padding:0px 0px 75px 50px; 
    margin: 0px;
}

label{
    color: white;    
}

.footer{
    height:200px;
    width:100%;
    background-color: green;
}

.txt{
    text-align: center; 
}

.five h1{
    margin:0px;
    text-align: center;
    
}

.five p{
    margin:0px;
}

.i{
    font-size:50px;
    height:10%;
    width:30%;
    color:white;
    margin:0px auto;
    padding:5px 0px 0px 240px;
}

.hp p{
    text-align:center;  
    font-family: 'Pacifico', cursive;   
}

body{
    margin:0px;    
}

.hp{
    height: 100%;
    width: 40%;
    margin: auto;
}

.footer h2{
    text-align: center;
    color: white;
    margin: 0px auto;
    font-family: 'Pacifico', cursive;
    padding-top: 50px;
}

